<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=640,user-scalable=0" />
        <style>
            * {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="container">

        </div>
    <script type="text/javascript">
        !(function(doc) {
            var cont = doc.getElementById("container");
            var cw = window.innerWidth;
            var ch = window.innerHeight;

            var canvas = document.createElement('canvas');
            canvas.width = cw;
            canvas.height = ch;
            canvas.style.zIndex = 8;
            canvas.style.position = "absolute";
            cont.appendChild(canvas);
            var cont2D = canvas.getContext("2d");

            var video = document.createElement('video');
            video.preload = "auto";
            video.volume = 0.3;
            video.setAttribute('x-webkit-airplay', true);
            video.setAttribute('webkit-playsinline', true);
            video.setAttribute('webkit-playsinline', 'webkit-playsinline');
            video.src = 'http://mint-video.nosdn.127.net/mint_1494315959420_54741110.mp4';
            video.autoplay = 'autoplay'; //是自动播放
            video.loop = "loop";
            video.addEventListener("play", function() {
                draw(this, canvas, cont2D, cw, ch);
            }, false)


            function draw(v, c, c2, w, h) {
                if(v.paused || v.ended) {
                    cancelAnimationFrame(stop);
                    return false;
                }
                c2.drawImage(v, 0, 0, w, h);
                var stop = requestAnimationFrame(function() {
                    draw(v, c, c2, w, h);
                });
            }
        })(document)
    </script>
   </body>
</html>