<!DOCTYPE html>
<html>
<head>
   <title>测试动画</title>
   <meta content="charset=utf-8"/>
</head>
<body>
   <div class="collection" style="display:none">
      <img src="http://img4.cache.netease.com/f2e/ent/ent_painting2016/images/4.jpg?44" name="3" class="item">
      <img src="http://img3.cache.netease.com/f2e/ent/ent_painting2016/images/2.jpg?1520" name="1" class="item">
      <img src="http://img3.cache.netease.com/f2e/ent/ent_painting2016/images/1.jpg?1520" name="0" class="item">
      <img src="http://img3.cache.netease.com/f2e/ent/ent_painting2016/images/3.jpg?1520" name="2" class="item">
   </div>
   <canvas id="app"></canvas>
   <button id="start" style="position:absolute; bottom:0px;width:100px;height:100px;">开始</button>
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script type="text/javascript">
   var imgList = [{
         link: "http://img3.cache.netease.com/f2e/ent/ent_painting2016/images/1.jpg?1520",
         imgW: "750",
         imgH: "1206"
      }, {
         link: "http://img3.cache.netease.com/f2e/ent/ent_painting2016/images/2.jpg?1520",
         imgW: "1875",
         imgH: "3015",
         areaW: "375",
         areaH: "603",
         areaL: "1379",
         areaT: "103",
         limitMax: .3,
         limitMin: .2
      }, {
         link: "http://img3.cache.netease.com/f2e/ent/ent_painting2016/images/3.jpg?1520",
         limitMax: .12,
         limitMin: .08,
         imgW: "1875",
         imgH: "3015",
         areaW: "152",
         areaH: "244",
         areaL: "791",
         areaT: "1193"
      }, {
         link: "http://img4.cache.netease.com/f2e/ent/ent_painting2016/images/4.jpg?44",
         limitMax: .22,
         limitMin: .15,
         imgW: "1875",
         imgH: "3015",
         areaW: "282",
         areaH: "454",
         areaL: "857",
         areaT: "413"
      }], radio = 1, index = 0, fps = 40, scale = .985, scaleSlow = .995, timer, t, ctx = document.getElementById('app').getContext("2d"),
      domList = $(".collection .item").sort(function(i, e) {
            return i.name - e.name
         });
      function init() {
         var img = document.getElementById('img');
         this.initCanvas();
         bindEvent();
         ctx.drawImage(domList[0],0,0);
      }
      function initCanvas() {
         var canvas = document.getElementById('app');
         var w = window.innerWidth, h = window.innerHeight;
         w > h && (w = 725, h = 1206, $("body").css({
            width: "725px",
            height: "1206px",
            margin: "0 auto",
            position: "relative",
            overflow: "hidden"
         }), $("html").css({
            width: "100%",
            height: "100%"
         })); 
         canvas.setAttribute("width", w), canvas.setAttribute("height", h)
      }
      function bindEvent(){
         $("#start").on("click", function() {
            function e() {
               var a = (new Date).getTime();
               if (index + 1 != imgList.length) {
                  if (a - t < 1e3 / fps) return void(timer = requestAnimationFrame(e));
                  t = a;
                  imgList[index + 1].limitMax && imgList[index + 1].limitMin && radio < imgList[index + 1].limitMax && radio > imgList[index + 1].limitMin ? radio = scaleSlow * radio : radio = scale * radio, draw(), timer = requestAnimationFrame(e);
               }
            }
            cancelAnimationFrame(timer);
            t = (new Date).getTime();
            timer = requestAnimationFrame(e)
         })
      }
      function draw(){
         if (index + 1 <= this.imgList.length) {
            if (radio < imgList[index + 1].areaW / imgList[index + 1].imgW ){
               index++; 
               radio = 1;
            }
            drawImgOversize(domList[index+1],imgList[index+1].imgW,imgList[index+1].imgH,imgList[index+1].areaW,imgList[index+1].areaH, imgList[index+1].areaL, imgList[index+1].areaT, radio);
            drawImgMinisize(domList[index], imgList[index].imgW, imgList[index].imgH, imgList[index].imgW, imgList[index].imgH, imgList[index].areaW, imgList[index].areaH, imgList[index].areaL, imgList[index].areaT, this.radio)
         }
      }
      function drawImgOversize(i, e, t, a, n, m, s, g) {
         ctx.drawImage(i, m - (a / g - a) * (m / (e - a)), s - (n / g - n) * (s / (t - n)), a / g, n / g, 0, 0, 750, 1206)
      }
      function drawImgMinisize(i, e, t, a, n, m, s, g, r, o) {
      ctx.drawImage(i, 0, 0, e, t, (m / o - m) * (g / (a - m)) * o * 750 / m, (s / o - s) * (r / (n - s)) * o * 1206 / s, 750 * o, 1206 * o)
   }
      init();
   </script>
</body>
</html>